@media (max-width: 768px) {
    .header {
        padding: 25px 0 25px 0;
        margin-left: 27px;
    }

    .header-menu {
        position: fixed;
        left: 100%;
        top: 7%;
        padding: 0;
        padding-right: 20px;
        background-color: #fff;
        height: 100px;
        top: 0px;
        width: 675px;
        z-index: 1;
        &_active {
            left: 26px;
        }
        &__item {
            font-size: 12px;
        }
    }

    nav {
        margin-left: 0;
        padding-right: 0;
    }

    .header-hamburger {
        display: block;
        position: absolute;
        right: 36px;
        top: 9%;
        transform: translateY(-50%);
        width: 22px;
        height: 14px;
        cursor: pointer;
        span {
            display: block; 
            height: 3px;
            width: 100%;
            background-color: #009C5A; 
            margin-bottom: 3px;
            transition: 0.5s all;
        }
        &_active {
            span {
                margin-bottom: -3px;
                &:nth-child(1) {
                    transform: translateY(3px) rotate(-45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    transform: translateY(3px) rotate(45deg);
                }
            }
        }
    }

    .promo {
        min-height: 566px;
        &__sidebar {
            display: none;
        }
        &__wrapper {
            height: 0;
        }
        &__main {
            padding: 47px 0 99px 27px;
            background: url(../img/bg/main.png) no-repeat;
            min-height: 466px;
        }
        &__descr {
            margin-top: 32px;
            width: 358px;
            height: 97px;
        }
    }

    .title {
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 0;
    }
    
    .button {
        &_promo {
            margin-top: 64px;
        }
        &_header {
            margin-left: 284px;
        }
    }  

    .target {
        padding: 129px 0 58px 0;
    }
    
    .target-items {
        align-items: baseline;
    }

    .target-item {
        &__block {
            margin-top: 73px;
            width: 262px;
            height: 263px;
            left: -10%;
        }
        &__subheader {
            font-size: 18px;
            line-height: 22px;
        }
        &__learn {
            font-size: 12px;
            line-height: 18px;
        }
        &__descr {
            width: 203px;
            margin: 18px 0 32px 0;
        }
    }

    .about {
        height: 430px;
        width: 741px;
        min-width: 0;
        min-height: 0;
        padding: 56px 0 56px 27px;
        background-size: 110%;
        margin-right: 0;
        &__descr {
            margin-top: 24px;
            font-size: 16px;
            line-height: 23px;
            .none {
                display: none;
            }
        }
    }

    .subtitle {
        &_about {
            &:after {
                left: 20%;
            }
        }
    }

    .wow {
        padding: 56px 27px 56px 27px;
    }

    .ready {
        min-height: 358px;
        padding: 37px 0;
        img {
            width: 283px;
            height: 283px;
        }
    }
}

@media (max-width: 320px) {
    .header {
        flex-wrap: wrap;
        padding: 25px 15px 25px 15px;
        margin-left: 0;
        min-height: 143px;
        &__logo {
            width: 123px;
            height: 21px;
        }
    }

    .header-hamburger {
        top: 6%;
        transform: translateY(-30%);
        right: 15px;
        &_active {
            position: absolute;
            right: 15px;
            top: 5.5%;
            height: 3px;
            width: 7%;
            z-index: 1;
            span {
                margin-bottom: -3px;
            }
        }
    }

    .header-menu {
        min-height: 227px;
        padding: 23px 0 0 20px;
        flex-direction: column;
        align-items: baseline;
        left: 100%;
        &_active {
            left: 0%;
        }
        &__item {
            padding-bottom: 24px;
        }
        li {
            line-height: 16px;
            padding: 0;
            margin-top: 24px;
            &:first-child {
                margin: 0;
            }
        }
    }

    .button {
        &_header {
            width: 100%;
            margin-top: 17px;
            margin-left: 0;
            &:before {
                bottom: 15px;
                left: 58px;
            }
        }
        &_ready {
            margin-top: 32px;
            width: 200px;
            height: 48px;
        }
        &_popup {
            width: 100%;
            margin-top: 15px;
        }
    }

    .title {
        font-size: 32px;
        line-height: 39px;
    }

    .promo {
        min-height: 608px;
        &__main {
            padding: 39px 15px 30px 15px;
        }
        &__descr {
            width: 100%;
            font-size: 15px;
        }
    }

    .target-item {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-right: 0;
        align-items: safe;
        &__block {
            margin-top: 2px;
        }
        &__text {
            margin-top: 8px;
        }
        &__descr {
            width: 100%;
        }
        &__icon {
            width: 100%;
        }
    }
    
    .target-items {
        padding: 0 15px 0 15px;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .about {
        padding: 0 15px;
        background: linear-gradient(51.64deg, #4AAE55 52.38%, rgba(143, 210, 0, 0.9) 100%);
        min-height: 500px;
        width: 100%;
        &__descr {
            width: 100%;
        }
    }

    .subtitle {
        &_about {
            padding-top: 32px;
            font-size: 24px;
            line-height: 29px;
            &:after {
                top: 70%;
                left: 40%;
            }
        }
        &_ready {
            font-size: 24px;
            line-height: 37px;
        }
    }

    .wow {
        min-height: 408px;
    }

    .wow-items {
        flex-wrap: wrap;
    }

    .wow-item {
        &__descr {
            width: 187px;
        }
    }
    
    .ready {
        &__descr {
            width: 85%;
        }
    }

    .popup {
        padding: 24px 20px;
        width: 100%;
        min-height: 677px;
        &__header {
            font-size: 16px;
            line-height: 6px;
            margin-bottom: 14px;
            &_more {
                font-size: 15px;
                line-height: 15px;
            }
        }
        &__close {
            top: -10px;
            right: 10px;
            font-size: 30px;
        }
        &__dialog {
            width: 100%;
            margin: 40px auto;
        }
        &__content {
            padding: 24px 20px;
        }
    }

    .popup-input {
        &__item {
            input {
                width: 245px;
                margin-top: 7px;
                margin-bottom: 10px;
            }
        }
        &__checkbox {
            margin-top: 5px;
            margin-bottom: 10px;
        }
        label {
            margin-bottom: 0;
        }
        &__files {
            width: 100%;
            height: 40px;
        }
        &__choose {
            width: 100%;
        }
    }
}